<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 1000;
            background-color: #799ed3;
            padding: 15px;
            border:none;
        }

        .footer {
            display:none;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color: #799ed3;
            padding-bottom: 20px;
            text-align: center;
            z-index: 100;
            padding: 20px;
        }

        .wrapper {
            height: 100%; /* Header ve footer arasında yer kapla */
            width: 270px;
            position: fixed;
            top: 70px; /* Header yüksekliği */
            left: 0;
            z-index: 999;
            background: #4F657C;
            overflow-y: auto; /* İçerik fazla olursa kaydır */
        }

        #sidebar {
            border: none;
            height: 100%;
            width: 270px;
            overflow: hidden;
            transition: none; /* Animasyonu kaldır */
        }

            #sidebar .list-items {
                position: relative;
                background: #46484b;
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                padding: 0;
            }

                #sidebar .list-items li {
                    width: 100%;
                    
                }

                    #sidebar .list-items li a {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 15px; /* Padding küçültüldü */
                        color: #808183;
                        text-decoration: none;
                        font-size: 18px; /* Yazı boyutu küçültüldü */
                        font-weight: 500;
                         /* Çizgili bölme */
                        transition: background 0.3s ease;
                        
                    }

                        #sidebar .list-items li a i {
                            font-size: 34px; /* İkon boyutu küçültüldü */
                            margin-right: 20px; /* İkon ile yazı arası boşluk küçültüldü */
                        }

                        #sidebar .list-items li a:hover,
                        #sidebar .list-items li a.active {
                            background: #bcbdbf; /* Hover efekti ve seçili sayfa */
                            color: #46484b; /* Hover'da ve seçili sayfada yazı rengi */
                        }

        .content-wrapper {
            margin-left: 270px;
            padding: 100px;
        }

            .content-wrapper .header {
                font-size: 20px;
                font-weight: 700;
            }

            .content-wrapper p {
                font-size: 20px;
                font-weight: 700;
            }
    </style>
</head>
<body>
    <header>
        
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Help"><img class="logo" data-aos="fade-up" data-aos-duration="600" src="https://freepngimg.com/download/letter/130281-d-letter-free-clipart-hq.png" width="30" height="30" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        
                        <li class="nav-item">
                            <a class="nav-link header-nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy"></a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="wrapper">
        <nav id="sidebar">
            <ul class="list-items">
                <li><a href="@Url.Action("Index", "UserDatabase")" class="@(ViewContext.RouteData.Values["action"].ToString() == "Index" ? "active" : "")"><i class="fas fa-database"></i>Database</a></li>
                <li><a href="@Url.Action("ReportsList", "UserDatabase")" class="@(ViewContext.RouteData.Values["action"].ToString() == "ReportsList" ? "active" : "")"><i class="fas fa-chart-bar"></i>Reports</a></li>
                <li><a href="@Url.Action("DashboardList", "UserDatabase")" class="@(ViewContext.RouteData.Values["action"].ToString() == "DashboardList" ? "active" : "")"><i class="fas fa-layer-group"></i>Dashboard</a></li>
                <li><a href="@Url.Action("Help", "Home")" class="@(ViewContext.RouteData.Values["action"].ToString() == "Help" ? "active" : "")"><i class="fas fa-circle-info"></i>Help</a></li>
            </ul>
        </nav>
    </div>

    <div class="content-wrapper">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container-fluid">
            <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
